<?xml version='1.0' encoding='utf-8'?>
<widget id="com.circusscientist.smartpoicontrols" version="1.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SmartPoi_Controls</name>
    <description>Smart Poi LED Control Application</description>
    <author email="dev@circusscientist.com" href="https://circusscientist.com">
        Circus Scientist
    </author>
    <content src="index.html" />
    <!-- Application icons -->
    <icon src="res/ic_launcher-web.png" />
    
    <!-- Allow access to local network devices -->
    <access origin="http://*" />
    <access origin="http://*.local" />
    <access origin="http://192.168.*" />
    <access origin="http://10.0.*" />
    <access origin="http://172.16.*" />
    <access origin="http://172.17.*" />
    <access origin="http://172.18.*" />
    <access origin="http://172.19.*" />
    <access origin="http://172.20.*" />
    <access origin="http://172.21.*" />
    <access origin="http://172.22.*" />
    <access origin="http://172.23.*" />
    <access origin="http://172.24.*" />
    <access origin="http://172.25.*" />
    <access origin="http://172.26.*" />
    <access origin="http://172.27.*" />
    <access origin="http://172.28.*" />
    <access origin="http://172.29.*" />
    <access origin="http://172.30.*" />
    <access origin="http://172.31.*" />
    
    <!-- Allow file system access for file selection -->
    <preference name="AndroidPersistentFileLocation" value="Internal" />
    <preference name="iosPersistentFileLocation" value="Library" />
    
    <!-- Network security configuration for Android -->
    <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application" xmlns:android="http://schemas.android.com/apk/res/android">
        <application android:usesCleartextTraffic="true" />
    </edit-config>
    
    <!-- Platform preferences -->
    <preference name="loadUrlTimeoutValue" value="700000" />
    <preference name="AndroidInsecureFileModeEnabled" value="true" />
    
    <!-- Intent handling -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="file://*/*" />

    <!-- Splash Screen -->
    <platform name="android">
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/splashscreen.xml" />
        <preference name="AndroidWindowSplashScreenBackground" value="#000000" />
    </platform>

    <hook src="hooks/after_prepare/remove_manage_storage.js" type="after_prepare" />
</widget>
